.Introduction {
  position: relative;
  z-index: 1;

  overflow: hidden;

  border-radius: .25em;

  background: url(../../assets/texture.svg) repeat bottom right / 20%;
}

.Introduction::before {
  content: '';

  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;

  background-color: transparent;
}

.Introduction > * {
  position: relative;
}

@media all and (min-width: 721px) {
  .Introduction {
    background-size: 12%;
  }

  .Introduction::before {
    background-image: radial-gradient(ellipse 35% 120% at 100% 100%, rgba(244, 67, 54, .7), rgba(244, 67, 54, 1));
  }

  .Introduction-image {
    position: absolute;
    right: 1em; bottom: 0;

    width: 30%;
  }

  .Introduction p {
    margin-right: 30%;
  }
}

@media all and (max-width: 720px) {
  .Introduction::before {
    background-image: radial-gradient(ellipse 120% 30% at 100% 100%, rgba(244, 67, 54, .7), rgba(244, 67, 54, 1));
  }

  .Introduction-image {
    display: block;
    width: 60%;
    margin: -4em -1em -2em auto;
  }
}

@media all and (min-width: 481px) {
  .Introduction {
    padding: 2em 4em;
    margin: -7em 0 -4em;
  }
}

@media all and (max-width: 480px) {
  .Introduction {
    padding: 1em 2em;
    margin: -5.5em 0 -4em;
  }

  .Introduction-image {
    width: 80%;
    margin: -4em -1em -1em auto;
  }
}
