.Introduction {
  position: relative;
  z-index: 1;

  border-radius: .25em;
}

@media all and (min-width: 721px) {
  .Introduction-image {
    position: absolute;
    right: 1em; bottom: 0;

    width: 30%;
  }

  .Introduction p {
    margin-right: 30%;
  }
}

@media all and (max-width: 720px) {
  .Introduction-image {
    display: block;
    width: 60%;
    margin: 0 -3em -2em auto;
  }
}

@media all and (min-width: 481px) {
  .Introduction {
    padding: 2em 4em;
    margin: -7em 0 -4em;
  }
}

@media all and (max-width: 480px) {
  .Introduction {
    padding: 1em 2em;
    margin: -5.5em 0 -4em;
  }

  .Introduction-image {
    width: 80%;
    margin: 0 -1em -1em auto;
  }
}
