.Program-container {
  margin: 4em 0;
}

.Program {
  position: relative;
}

.Program-timestamp {
  position: relative;
  height: 0;
  margin-bottom: 5em;

  transform: translate(0, -.5em);
}

.Program-timestamp::after {
  content: '';

  position: absolute;
  left: 3em; top: .5em;
  right: 0;

  display: block;
  height: .1em;

  background-color: rgba(0, 0, 0, .1);

  transform: translate(0, -50%);
}

.Program-events {
  position: absolute;
  left: 3.5em; top: 0;
  right: .25em; bottom: 0;
}

.Program-event-slot {
  position: absolute;
}
