.Committee {
  text-align: center;
}

.Commissioner {
  display: inline-block;
  width: 33%;
}

@media all and (max-width: 720px) {
  .Commissioner { width: 50%; }
}

@media all and (min-width: 481px) {
  .Commissioner {
    text-align: left;
  }
}
