.Header {
  position: relative;

  min-height: 100vh;
  margin: -4.5em -2em 0;

  text-align: center;

  background: #16265c no-repeat center / cover;
}

.Header::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;

  background-color: rgba(255, 255, 255, .5);
}

.Header .wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
  padding: 4em 0 4em;
}

.Header img {
  width: 100%;
}

.Header p {
  padding: 0 10%;
  margin: 0 0 5em;

  font-size: .9em;

  font-weight: bold;
  color: #000;
}

.Header-date,
.Header-location {
  display: inline-block;
  padding: .5em;
  margin: 2em .5em .5em;
}

.Header-location::before {
  content: '📍 ';
  color: #000;
}

.Header-date::before {
  content: '🗓 ';
  color: #000;
}

@media all and (min-width: 480px) {
  .Header {
    margin: -2.5em -4em 0;
  }
}
