.Person {
  margin: 4em 0;
}

.Person-social {
  display: inline-block;
  width: 8em;
  margin-right: 1em;

  text-align: center;
}

.Person-image {
  width: 8em;
  height: 8em;

  border-radius: 100%;

  box-shadow: 0 .2em .5em rgba(0, 0, 0, .2);
}

.Person-name {
  margin: 1.25em 0 0;
}

.Person-title {
  margin-top: .25em;
}

.Person-about {

}

.Person-info {
  display: inline-block;
  width: calc(100% - 9em);

  vertical-align: top;
}

.Person-links {
  margin: 1em -.25em 0;
}

.Person-link {
  overflow: hidden;

  display: inline-block;
  width: 2em;
  height: 2em;
  margin: .25em;

  border-radius: .25em;

  box-shadow: 0 .2em .5em rgba(0, 0, 0, .2);

  background: #fff url(../../assets/icons/web.svg) no-repeat center / cover;
  color: transparent;
}

.Person-link.twitter { background-image: url(../../assets/icons/twitter.svg); }
.Person-link.linkedin { background-image: url(../../assets/icons/linkedin.svg); }
.Person-link.lumc { background-image: url(../../assets/icons/lumc.svg); }

.Person:not(.revealed) .Person-about { display: none; }

.Person.small { margin: 2em 0; }
.Person.small .Person-social { width: 6em; }
.Person.small .Person-image { width: 6em; height: 6em; }
.Person.small .Person-name { margin-top: .5em; }
.Person.small .Person-info { width: calc(100% - 7em); }

@media all and (max-width: 480px) {
  .Person {
    font-size: .8em;
  }

  .Person:not(.horizontal) .Person-social {
    display: block;
    margin: auto;
  }
  .Person:not(.horizontal) .Person-info {
    display: block;
    width: auto;
  }

  .Person:not(.horizontal) .Person-name,
  .Person:not(.horizontal) .Person-title {
    text-align: center;
  }
}
