.CvA::before, .CvA::after {
  content: '';
  display: block;
  clear: both;
}

.CvAMember {
  padding: 1em;

  border-radius: .25em;
}

.CvAMember-Left,
.CvAMember-Right { vertical-align: middle; }

.CvAMember-Left {
  position: relative;

  display: inline-block;
  width: 6em;
  height: 6em;
}

.CvAMember-Right {
  display: inline-block;
  width: calc(100% - 10em);
  margin-left: 2em;
}

.CvAMember-Image {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;

  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.CvAMember-Name { margin-bottom: 0; }

.CvAMember-Tagline { margin-top: 0; }

@media (max-width: 480px) {
  .CvAMember {
    font-size: .8em;
  }
}

@media (max-width: 720px) {
  .CvAMember:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, .02);
  }
}

@media (min-width: 721px) {
  .CvAMember:nth-child(4n + 1),
  .CvAMember:nth-child(4n + 4) {
    background-color: rgba(0, 0, 0, .02);
  }

  .CvAMember {
    display: inline-block;
    width: 50%;

    vertical-align: middle;
  }
}
