@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

@font-face {
  font-family: 'monthoers';
  src: url('./assets/fonts/monthoers.otf');
  src: url('./assets/fonts/monthoers.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;

  font-family: 'Avenir', 'Lato', sans-serif;

  color: rgba(0, 0, 0, .55);
  background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 900;
  color: rgba(0, 0, 0, .8);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'monthoers', sans-serif;
}

h1 { font-size: 3em; line-height: 0.66em; }
h2 { font-size: 2em; line-height: 0.75em; }
h3 { font-size: 1.5em; line-height: 0.8em; }

a {
  font-weight: bold;
  color: #f44336;
}

input, textarea, select, button {
  font: inherit;
  border: none;
}

button {
  padding: .75em 1em .5em;
  border-radius: .25em;

  box-shadow: 0 .2em .5em rgba(0, 0, 0, .2);

  font-family: 'monthoers', sans-serif;
  font-size: 1.5em;
}

section {
  margin: 0 -1em;
  padding: 4em 1em;
}

section:nth-child(2n) {
  background-color: rgba(0, 0, 0, .05);
}

/* Structuring styles */
.wrapper {
  max-width: 50em;

  margin-left: auto;
  margin-right: auto;
}

.wrapper.large { max-width: 65em; }
.wrapper.small { max-width: 35em; }

.row::after {
  content: '';

  display: block;
  clear: both;
}

.page {
  padding: 0 1em;
}

.center {
  text-align: center;
}

/* Color styles */
.light {
  background-color: #fff;
  color: rgba(0, 0, 0, .55);
}

.dark {
  background-color: #16255D;
  color: rgba(255, 255, 255, .8);
}

.accent {
  background-color: #f44336;
  color: #fff;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark strong {
  font-weight: 900;
  color: #fff;
}
